.header {
  margin-bottom: 0;
  align-items: center;
  background-color: #000;
  height: 4.5em;
  display:block
}

.header__logo {
  width: 60px;
  height: 60px;
  background-image: url(/images/flight_logo.svg);
  background-size: 60px;
  float: left;
  margin: 5px 20px 0 62px;
}

.header__title {
  color: #A7F432;
  font-size: 25px;
  margin-top: 21px;
  font-family: cursive;
  }

@media only screen and (min-width: 768px) {
  .header__title {
  float: left;
  }
}
